<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.huaifang.database.core.dao.PartyMembersBusinessMapper">
  <resultMap id="BaseResultMap" type="com.topie.huaifang.database.core.model.PartyMembersBusiness">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="publish_user" jdbcType="VARCHAR" property="publishUser" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>