<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.huaifang.database.core.dao.PersonInfoRentMapper">
  <resultMap id="BaseResultMap" type="com.topie.huaifang.database.core.model.PersonInfoRent">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="r_person_id" jdbcType="VARCHAR" property="rPersonId" />
    <result column="r_name" jdbcType="VARCHAR" property="rName" />
    <result column="r_gender" jdbcType="VARCHAR" property="rGender" />
    <result column="r_birth" jdbcType="DATE" property="rBirth" />
    <result column="r_identify_number" jdbcType="VARCHAR" property="rIdentifyNumber" />
    <result column="r_nation" jdbcType="VARCHAR" property="rNation" />
    <result column="r_political_status" jdbcType="VARCHAR" property="rPoliticalStatus" />
    <result column="r_census_type" jdbcType="VARCHAR" property="rCensusType" />
    <result column="r_census_address" jdbcType="VARCHAR" property="rCensusAddress" />
    <result column="r_born_place" jdbcType="VARCHAR" property="rBornPlace" />
    <result column="r_residence_place" jdbcType="VARCHAR" property="rResidencePlace" />
    <result column="r_marriage_status" jdbcType="VARCHAR" property="rMarriageStatus" />
    <result column="r_contact" jdbcType="VARCHAR" property="rContact" />
    <result column="r_is_family_in" jdbcType="VARCHAR" property="rIsFamilyIn" />
    <result column="r_family_in_num" jdbcType="SMALLINT" property="rFamilyInNum" />
    <result column="r_family_in_lt_sixteen_male" jdbcType="SMALLINT" property="rFamilyInLtSixteenMale" />
    <result column="r_family_in_lt_sixteen_female" jdbcType="SMALLINT" property="rFamilyInLtSixteenFemale" />
    <result column="r_is_owner" jdbcType="VARCHAR" property="rIsOwner" />
    <result column="r_owner_name" jdbcType="VARCHAR" property="rOwnerName" />
    <result column="r_owner_relate" jdbcType="VARCHAR" property="rOwnerRelate" />
    <result column="r_leave_hometown_date" jdbcType="DATE" property="rLeaveHometownDate" />
    <result column="r_enter_beijing_date" jdbcType="DATE" property="rEnterBeijingDate" />
    <result column="r_enter_residence_date" jdbcType="DATE" property="rEnterResidenceDate" />
    <result column="r_enter_beijing_resion" jdbcType="VARCHAR" property="rEnterBeijingResion" />
    <result column="r_residence_type" jdbcType="VARCHAR" property="rResidenceType" />
    <result column="r_police_station" jdbcType="VARCHAR" property="rPoliceStation" />
    <result column="r_police" jdbcType="VARCHAR" property="rPolice" />
    <result column="r_household_name" jdbcType="VARCHAR" property="rHouseholdName" />
    <result column="r_household_phone" jdbcType="VARCHAR" property="rHouseholdPhone" />
    <result column="r_situation" jdbcType="VARCHAR" property="rSituation" />
    <result column="r_firm_or_school" jdbcType="VARCHAR" property="rFirmOrSchool" />
    <result column="r_firm_address" jdbcType="VARCHAR" property="rFirmAddress" />
    <result column="r_firm_industry" jdbcType="VARCHAR" property="rFirmIndustry" />
    <result column="r_main_job" jdbcType="VARCHAR" property="rMainJob" />
    <result column="r_profession" jdbcType="VARCHAR" property="rProfession" />
    <result column="r_social_security" jdbcType="VARCHAR" property="rSocialSecurity" />
    <result column="r_has_contract" jdbcType="VARCHAR" property="rHasContract" />
  </resultMap>
</mapper>