<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.huaifang.database.core.dao.PersonInfoLiveMapper">
  <resultMap id="BaseResultMap" type="com.topie.huaifang.database.core.model.PersonInfoLive">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="l_id" jdbcType="INTEGER" property="lId" />
    <result column="l_person_id" jdbcType="VARCHAR" property="lPersonId" />
    <result column="l_name" jdbcType="VARCHAR" property="lName" />
    <result column="l_gender" jdbcType="VARCHAR" property="lGender" />
    <result column="l_birth" jdbcType="DATE" property="lBirth" />
    <result column="l_identify_number" jdbcType="VARCHAR" property="lIdentifyNumber" />
    <result column="l_nation" jdbcType="VARCHAR" property="lNation" />
    <result column="l_political_status" jdbcType="VARCHAR" property="lPoliticalStatus" />
    <result column="l_census_type" jdbcType="VARCHAR" property="lCensusType" />
    <result column="l_census_address" jdbcType="VARCHAR" property="lCensusAddress" />
    <result column="l_born_place" jdbcType="VARCHAR" property="lBornPlace" />
    <result column="l_residence_place" jdbcType="VARCHAR" property="lResidencePlace" />
    <result column="l_marriage_status" jdbcType="VARCHAR" property="lMarriageStatus" />
    <result column="l_contact" jdbcType="VARCHAR" property="lContact" />
    <result column="l_is_owner" jdbcType="VARCHAR" property="lIsOwner" />
    <result column="l_owner_relate" jdbcType="VARCHAR" property="lOwnerRelate" />
    <result column="l_company_huaifang" jdbcType="VARCHAR" property="lCompanyHuaifang" />
    <result column="l_company_other" jdbcType="VARCHAR" property="lCompanyOther" />
    <result column="l_job_position" jdbcType="VARCHAR" property="lJobPosition" />
    <result column="l_is_huaifang_pepole" jdbcType="VARCHAR" property="lIsHuaifangPepole" />
    <result column="l_rksx" jdbcType="VARCHAR" property="lRksx" />
    <result column="l_is_canji" jdbcType="VARCHAR" property="lIsCanji" />
    <result column="l_is_dead" jdbcType="VARCHAR" property="lIsDead" />
    <result column="l_dead_date" jdbcType="DATE" property="lDeadDate" />
    <result column="l_memo" jdbcType="VARCHAR" property="lMemo" />
  </resultMap>
</mapper>